*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


:root {
    --primary-color: #3498db; /* Blue */
    
    --text-color1: #333; /* Dark gray */
    --text-color2:#000000; /* black */
    --background-color1: #f4f4f4; /* Light gray */
    --background-color2: #ffffff; /* white */
    
}
body {
    background-color: var(--background-color1);
    min-height: 100vh;
}
img{
    width: 100px;
    border-radius: 50%;
}



label {
    /* display: block; */
    margin: 0.5rem 0.5rem;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
}
input[type="email"],
input[type="password"],
input[type="text"] {
    margin: 1rem 1rem;
    width: 90%;
    
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    padding: 17px 20px;
}
button {
    margin: 1rem 1rem;
    width: 90%;
    padding: 0.75rem;
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    padding: 17px 40px;
    border-radius: 20px;
    cursor: pointer;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 1000;
}
.passHead{
    color: var(--text-color2);
    font-family: sans-serif;
    margin-top: 30%;
    margin-left: 15%;
}
#message {
    margin-top: 15px;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
  }

  .success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }

  .error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    20% {
      opacity: 1;
      transform: scale(1.05);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    80% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      opacity: 0;
      transform: scale(0.9);
    }
  }
  .back-button {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color:var(--text-color2);
    border: 2px solid var(--text-color2);
    padding: 10px 10px;
    border-radius: 60%;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: 900;
    margin-top: 2%;
    margin-left: 4%;

  }
  
  

